@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes bounceOnce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
}

.animate-slideInLeft {
  animation: slideInLeft 1s ease-in-out;
}

.animate-slideInRight {
  animation: slideInRight 1s ease-in-out;
}

.animate-bounceOnce {
  animation: bounceOnce 1s ease-in-out;
}

.animate-logoBounce {
  animation: bounceOnce 1s ease-in-out;
}

.carousel-container {
  width: 50%;
  max-width: 400px;
  margin: 0 auto;
}

.carousel-slide img {
  border-radius: 10px;
  object-fit: contain;
  height: 500px;
  width: 100%;
}

.carousel .legend {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.carousel .control-prev.control-arrow,
.carousel .control-next.control-arrow {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
  opacity: 1;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel .control-prev.control-arrow:hover,
.carousel .control-next.control-arrow:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: #ff6f00;
}

.carousel .control-prev.control-arrow {
  left: 15px;
}

.carousel .control-next.control-arrow {
  right: 15px;
}

.carousel .control-dots {
  bottom: 15px;
}

.carousel .control-dots .dot {
  background-color: #ff6f00;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 5px;
  opacity: 0.7;
  transition: all 0.3s ease;
}

.carousel .control-dots .dot:hover {
  background-color: #ff4500;
  transform: scale(1.2);
}

.carousel .control-dots .dot.selected {
  background-color: #ff4500;
  opacity: 1;
}

@media (max-width: 768px) {
  .carousel-container {
    width: 95%;
  }

  .carousel-slide img {
    height: 250px;
  }

  .carousel .legend {
    font-size: 14px;
    padding: 8px;
  }

  .carousel .control-prev.control-arrow,
  .carousel .control-next.control-arrow {
    width: 30px;
    height: 30px;
  }

  .carousel .control-dots .dot {
    width: 10px;
    height: 10px;
  }
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: start;
}

.about-container {
  width: 50%;
  max-width: 50%;
  background-color: white;
  font-size: 1.25rem;
  line-height: 1.75rem;
}


.carousel-container {
  width: 50%;
  max-width: 50%;
  margin-left: auto;
}

.carousel-slide img {
  border-radius: 10px;
  object-fit: contain;
  height: 500px;
  width: 100%;
}